h1{
    color:purple

}
.test
{
    color:rgb(105, 14, 105)
}
.btn 
{
    background-color: green;
    float: right;
    

}
.container
{
    margin:50px;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 100px;
        box-shadow: 5px 10px 20px 3px pink;
        background-image:url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/170244/170244_00_2x.jpg?20190418024350") ;
        background:cover;
}
